{% extends 'layouts/base.html' %}
{% load static %}

{% block script %}
    <script type="text/javascript">
        var a = "{{level.name}}";
    </script>
    <script src="{% static 'javascript/script.js' %}"></script>
{% endblock %}

{% block title %}Level {{level.id}}{% endblock title %}

{% block nav %}{% endblock %}
{% block content %}





    <div class="container" id="game_container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div id="nav" class="card-header" >
                            <h3 id="nombre" >0</h3>
                            <i id="etoile" class="fas fa-star" ></i>
                            <i id="question"class="far fa-question-circle" onclick="OpenNoCluePopUp()"></i>
                            <i id="indice" onclick="openPopUpClue()"  class="fas fa-lightbulb"></i>


                        <div class="card" style="background-color:#0B3C49; width: 67%;">
                            <h6  class="text-center" id="texte">{{level.world.name}}</h6>
                        </div>
                    </div>
                    <div class="card-body" >
                        <h5 class="card-title text-center">{{level.name}}</h5>

                        <div class="imagecontainer" style="position: relative;">
                            <img id="painting" src="{% static 'images/' %}{{level.image}}" width="100%" onclick="check('detimg',event)">
                        </div>
                        <div style="display: none; background-color:#f3f7fb; border-radius: 3px; position: absolute; top: 180px; left: 29px; right: 32px; padding: 5px;" class="text-center">
                            <h1 style="color: #0B3C49; ">GAGNE !</h1>
                            <a id="btmsuivant" style="width: 80%;background-color: #0B3C49; color: #f3f7fb ; padding:5px;"href="{{level.id}}"  class="btn btn btn-lg" role="button" aria-pressed="true" >NIVEAU SUIVANT</a>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        {% for d in detail %}
                            <div id="carde" ><img id="detimg" src="{% static 'images/' %}{{d.image}}" ></div>
                        {% endfor %}
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <!-- indice à mettre ailleurs -->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div id="popup">
                    <div class="card-body text-center " >
                      <i id="close"class="far fa-window-close" onclick="closePopUpClue()"></i>
                      <p class=" text-center">Choisir le détail </p>
                      <!--For d in notFoundDetails-->
                      {% for d in detail %}
                          <div id="carde" ><img id="detimg" src="{% static 'images/' %}{{d.image}}" onclick="OpenClueText()"></div>
                      {% endfor %}
                      <!--div id="clueText"> Tu n'as pas besoin d'aide. <br> Ouvre bien tes yeux.</div-->

                      <div class="row " id="clueText">
                          <div >Tu n'as pas besoin d'aide. <br> Ouvre bien tes yeux.</div>
                          <div class="row ">
                          <div class="col-md-3"> </div>
                          <div class="col-md-3"> <button type="button" name="button" onclick="CloseClueText()"> Annuler </button> </div>
                          <div class="col-md-3"> <button type="button" name="button"  onclick="CloseClueText()"> Valider </button> </div>
                          <div class="col-md-3">  </div>
                          </div>
                      </div>
                    </div>
                </div>
             </div>
       </div>
       <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card-body text-center " id="noClueAvalaible" >
                    <i id="question"class="far fa-window-close" onclick="CloseNoCluePopUp()"></i>
                      Oups tu n'as pas assez d'étoiles
                </div>
            </div>
        </div>
  </div>
{% endblock content %}
