{% extends 'layouts/base.html' %}
{% load static %}

{% block script %}
    <script src="{% static 'javascript/script.js' %}"></script>
{% endblock %}

{% block title %}Level {{level.id}}{% endblock title %}

{% block nav %}{% endblock %}
{% block content %}



    <div class="container" id="game_container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div id="nav" class="card-header" >
                            <h3 id="nombre" >0</h3>
                            <i id="etoile" class="fas fa-star" ></i> 
                            <i id="question"class="far fa-question-circle" ></i>
                            <i id="indice"class="fas fa-lightbulb"></i>       
                        
                        <div class="card" style="background-color:#0B3C49; width: 67%;">
                            <h6  class="text-center" id="texte">{{level.world.name}}</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{level.name}}</h5>
                        <div class="imagecontainer">
                            <img id="painting" src="{% static 'images/' %}{{level.image}}" width="100%" onclick="check('detimg',event)">
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        {% for d in detail %}
                            <div id="carde" ><img id="detimg" src="{% static 'images/' %}{{d.image}}" ></div>
                        {% endfor %}
                        <br>
                    </div>
                </div>    
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock content %}