{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Level {{level.id}}{% endblock title %}

{% block nav %}{% endblock %}
{% block content %}

<script type="text/javascript">

function getCoordinate(event)
{
    var x = event.clientX ;
    var y = event.clientY;
    return {x : x, y : y};
}

function checkCoordinate(x, y){
    var solidX = 755;
    var solidY = 450;
    if( (x < solidX + 15) && (x > solidX - 15) && (y < solidY + 15) && (y > solidY + 15)){
        return true;
    }
    return false;
}

function check(detimg, event){
    //document.getElementById(detimg).style.border = "solid 5px #c9e265";
    
    var height = document.getElementById('painting').offsetHeight / 10;
    var width = document.getElementById('painting').offsetWidth / 10;

    //console.log("height : " + height + "width : " + width)

    var viewportOffset = painting.getBoundingClientRect();
    // these are relative to the viewport, i.e. the window
    var top = viewportOffset.top;
    var left = viewportOffset.left;
    var xup = left + (3*width);
    var xdown = left + (4*width);
    var yup = top + (7*height);
    var ydown = top + (8*height);

    //console.log("x : " + (left + (3*width)) + "\n x2 :" + (left + (4*width)) + "\ny : " + (top + (7*height)) + "\ny2 : " + (left +(8*height) ) );
    if( event.clientX > xup && event.clientX < xdown && event.clientY > yup && event.clientY < ydown){
        console.log('ok');
        document.getElementById(detimg).setAttribute("class", "check");
    }
    




    console.log(" x : " + event.clientX + "\n y : " + event.clientY);
    //  var x = (event.clientX) - (document.getElementById('tableau').offsetWidth);
    //console.log("width :" +  document.getElementById('painting').offsetWidth
     //+ "\n height : " + document.getElementById('painting').offsetHeight);
    //  + "\n x : " + event.clientX + "\n y : " + event.clientY
    //  + "\n top position : " + document.getElementById('tableau').offsetTop
    // );
    //var coordinates = getCoordinate(event);
    //console.log("x : " + coordinates.x + " y : " + coordinates.y);
    //if(checkCoordinate(x, coordinates.y)){

    //}

    //document.getElementById(detimg).setAttribute("class","check");
}

</script>



    <div class="container" id="game_container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div id="nav" class="card-header" >
                        <!-- <div class="text-center" id="nombre_etoile"> -->
                            <h3 id="nombre" >0</h3>
                            <i id="etoile" class="fas fa-star" ></i>        
                        <!-- </div> -->
                         <h6 id="texte">Paysage et peinture animalière</h6>
                        
                        <!-- <div class="text-center" id="question_indice"> -->
                            <i id="question"class="far fa-question-circle" ></i>
                            <i id="indice"class="fas fa-lightbulb" ></i>
                        <!-- </div> -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">LA CHASSE DE MÉLÉAGRE</h5>
                        <div class="imagecontainer">
                            <img id="painting" src="{% static 'images/' %}{{level.image}}" width="100%" onclick="check('detimg',event)">
                        </div>

        
                        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    </div>
                    <!-- <div class="moncercle"><h2 class="text-center">1</h2></div> -->
                    <div class="card-footer text-center">
                        <div id="carde" ><img id="detimg" src="{% static 'images/detail1.png' %}" ></div>
                        <div id="carde" ><img id="detimg" src="{% static 'images/detail2.png' %}" ></div>
                        <div id="carde" ><img id="detimg" src="{% static 'images/detail3.png' %}" ></div>
                        <div id="carde" ><img id="detimg" src="{% static 'images/detail4.png' %}" ></div>
                        <div id="carde" ><img id="detimg" src="{% static 'images/detail5.png' %}" ></div>
                        <br>
                        <!-- <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% effectué (success)</span>
                            </div>
                        </div>    -->
                    </div>
                </div>    
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <!-- <h1>{{level.title}}</h1> -->

    
    <!-- <p>{{level.body}}</p> -->
{% endblock content %}